h1{ /* Element Type Selector */
    color: blueviolet;
}

.text{ /* Class Type Selector */
    color: yellow;
}

#text{ /* Id Type Selector */
    color: green;
}

.simpletext{ /* Class Type Selector */
    color: red;
}

body{ /* Element Type Selector */
    background-color: #010101;
}

*{ /* Universal Type Selector */
    background-color: aqua;    
}